.books-index-container {
    margin-top: 100px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: auto auto auto;
    margin-left: 2%;
}

.books-index-div {
    width: 200px;
}

.books-index-cover {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 20px;
}

.books-index-cover:hover {
    cursor: pointer;
}

.books-index-spine {
    width: 20px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url('../../assets/croctrxture.jpeg');
    background-size: cover;
    background-position: 100px 10px;
}

.books-index-text-container {
    width: 150px;
    height: 200px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(227, 227, 227);
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.books-index-title {
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    overflow: hidden;
}

.all-books-container {
    height: 250px;
    margin-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.books-index-item-container {
    margin-left: 10px;
}

.books-index-item-title {
    background-color: rgba(113, 42, 144, 0.736);
    width: 300px;
    margin-top: 10px;
    color: white;
    text-indent: 5px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.books-index-description {
    width: 300px;
    height: 200px;
    text-overflow: clip;
    overflow: hidden;
    font-size: 12px;
    color: rgb(55, 10, 10);
}

