.login-Modal {
    position: absolute;
    width: 450px;
    height: 550px;
    border-radius: 5px;
    border: 1px #8A6E2F solid;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(-120deg, rgb(71, 10, 101), rgb(41, 37, 37));
    border-radius: 20px;
    border-bottom-left-radius: 38px;
    border-top-left-radius: 38px;
    animation-name: popUp;
    animation-duration: .5s;
    box-shadow: 2px 4px 4px rgba(6, 0, 0, 0.687);
}

@keyframes popUp {
    from {margin-top: 100px};
    to {margin-top: 0px};
}

.login-Modal-logo {
    background-image: url('../../assets/navbar/Opus.png');
    background-position: -100px -100px;
    width: 450px;
    height: 200px;
    background-size: none;
    margin-left: 0px;
    margin-top: 20px;
    border-bottom: 1px rgb(208, 188, 129) solid;
}

.login-form {
    color: rgb(255, 245, 214);
    background-color: transparent;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    outline: none;
    border: none;
    transition: all .15s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-top: 0px;
}

.errors {
    color: rgb(254, 210, 91);
    font-size: 0.575em;
    height: 13px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.login-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input::placeholder { 
    color: rgb(178, 178, 178);
    font-weight: 100;
    opacity: 1;
    padding-left: 8px; 
  }

.golden-stripe {
    width: 60px;
    height: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-right: 1px rgb(132, 109, 45) solid;
    margin-left: -20px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;    position: absolute;
}

.login-input {
    background-color: rgb(30, 25, 25);
    outline: none;
    border: none;
    color: rgb(10, 9, 5);
    font-size: 14px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);; */
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #8A6E2F;
    width: 250px;
    height: 40px;
    padding-left: 8px;
}

.login-submit {
    outline: none;
    border: none;
    color: white;
    background-color: rgb(92, 0, 141);
    font-size: 14px;
    font-weight: bold;
    font-family: script;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 250px;
    height: 40px;
  
}

.login-submit:hover {
    background-color: rgba(94, 1, 144, 0.653);
    cursor: pointer;
    color: #b2995e;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.476);
    transition: all .1s;
    /* border: solid 1px #b2995e; */
}

.login-submit:active {
    background-color: rgb(60, 0, 93);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.476);
    margin-top: 20px;
    transition: all .1s;
}

.login-demo {
    position: absolute;
    bottom: 45px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: script;
    margin-bottom: 10px;
    background-color: rgb(92, 0, 141);
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin-left: 120px;
    
}

.login-demo:hover {
    background-color: rgba(94, 1, 144, 0.653);
    cursor: pointer;
    color: #b2995e;
    /* border: solid 1px #b2995e; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.476);
    transition: all .1s;
}

.login-demo:active {
    background-color: rgb(60, 0, 93);
    bottom: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.476);
    transition: all .1s;
}


.login-register-div {
    margin-top: -10px;
    margin-bottom: 0px;
}

.login-register-txt {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
.login-register-btn {
    color: rgb(244, 254, 174);
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
}

.login-register-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-input:active{
    border: solid 1px #b2995e;
}