.signUp-Modal {
    position: absolute;
    width: 450px;
    height: 605px;
    border-radius: 5px;
    border: 1px #8A6E2F solid;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(-120deg, rgb(71, 10, 101), rgb(41, 37, 37));
    border-radius: 20px;
    border-bottom-left-radius: 38px;
    border-top-left-radius: 38px;
    animation-name: popUp;
    animation-duration: .5s;
    box-shadow: 2px 4px 4px rgba(6, 0, 0, 0.687);
}