.create-book-container {
    display: flex;
    width: 98%;
    height: 700px;
    margin-top: 105px;
    background-color: rgb(244, 244, 244);
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.create-book-cover {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin-left: 100px;
    border-radius: 20px;
}


.create-book-spine {
    width: 40px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: url('../../assets/croctrxture.jpeg');
    background-size: cover;
    background-position: 100px 10px;
}

.create-book-text-container {
    width: 300px;
    height: 500px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-book-title {
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    
}

.create-book-genre {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    overflow: hidden;
    margin-top: 20px;
    
}

.create-book-author {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    overflow: hidden;
    margin-top: 80px;
}

.create-book-title-bio-container {
    width: 700px;
    height: 400px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.create-book-title-text {
    font-size: 60px;
    font-family: cursive;
    width: 300px;
    height: 125px;
    overflow: hidden;
    
    background-color: rgb(232, 234, 214);
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(60, 0, 255);
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typewriter 2s steps(44) 1s 1 normal both,
                    blinkTextCursor 1000ms steps(44) infinite normal;
    z-index: 9999;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 10em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(127, 7, 254, 0.827);
    }

    to {
        border-right-color: transparent;
    }
}

.create-book-description-text {
    width: 650px;
    height: 20px;
    resize: none;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.create-book-description {
    background-color: rgb(232, 234, 214);
    resize: none;
    width: 650px;
    height: 300px;
    border: none;
    outline: none;
    text-align: left-center;
    margin-top: 20px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.create-book-description::-webkit-scrollbar {
    visibility: hidden;
}

.create-book-button {
    border: none;
    background-color: rgb(102, 0, 157);
    color: rgb(222, 220, 112);
    font-family: cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 300px;
    -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.983);
    -moz-box-shadow: 0 2px 8px -1px rgb(0, 0, 0);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.75);
    
}


.create-book-button:hover {
    cursor: pointer;
        background-color: rgb(136, 0, 210);
        -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.983);
        -moz-box-shadow: 0 2px 8px -1px rgb(0, 0, 0);
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.75);
}


.create-book-button:active {
    cursor: pointer;
    background-color: rgb(1, 42, 84);
    transition: all .2s;
}


.colorpicker {
    position: absolute;
    margin-top: -6px;
    width: 50px;
    height: 30px;
    border: none;
}

.create-book-cc-txt {
    position: absolute;
    margin-top: 600px;
    margin-left: -50px;
}

.create-book-genre-div {
    font-weight: bold;
}

.create-book-genre-text {
    border: 0;
    text-align: center;
    font-family: cursive;
    background-color: rgb(232, 234, 214);
    outline: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(60, 0, 255);
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typewriter 2s steps(44) 1s 1 normal both,
            blinkTextCursor 1000ms steps(44) infinite normal;
        z-index: 9999;
}

.book-created-div {
    width: 300px;
    height: 300px;
    background-color: rgb(199, 215, 255);
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-created-exit-btn {
    position: absolute; 
    width: 25px;
    height: 25px;
    margin-top: -250px;
    margin-left: 250px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.book-created-modal-text {
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

.book-created-pfp-btn {
    position: absolute; 
    width: 100px;
    height: 40px;
    margin-top: 200px;
    background-color: rgb(234, 189, 241);
    outline: none;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 18px;
    box-shadow: 0px 0px 10px black;
}

.book-created-pfp-btn:hover {
    cursor: pointer;
    background-color: rgb(205, 166, 211);
    color: white;
    transition: all .2s;
}

.book-created-pfp-btn:active {
    cursor: pointer;
    background-color: rgb(171, 139, 176);
    transition: all .2s;
}