.splash-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: -webkit-linear-gradient(45deg, #074a47 50%, #ffffff 50%); */
    /* top: 0; */
    width: 100%;
    height: 100vh;
    margin: 0;
    /* border: red 1px solid; */

}

.splash-place-holder {
    background-image: url('../../assets/booksLib.jpeg');
    width: 100%;
    height: 500px;
    margin-top: -100px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.splash-page-wrapper {
    width: 100%;
    height: 100%;
}

.splash-body-carousel{

    /* height: 900px; */
    /* width:100%; */
    /* object-fit: cover;
    background-position: center;
    background-repeat: no-repeat; */
    overflow: hidden;
    background-size: contain;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 10px;
    padding-top: 0px;
}

/* .splash-featured-carousel{
    display: flex;
    height: 90%;
    min-width: 50%;
    max-width: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    border: 1px solid green;
    border-radius: 10px; */
    /* margin-bottom: 40px; */


.spacing{
    display: flex;
    height: 950px
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 25%;
    height: 200px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.splash-container {
    margin-left: 5vw;
    width: 90vw;
    margin-top: 150px;
  
    /* border: 1px solid black; */
}





