.splash-container {
    margin-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-opus-info {
    width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(245, 214, 214);
    box-shadow: 0px 0px 20px 10px rgb(153, 99, 99);
}

.splash-opus-info-container {
    width: 800px;
    height: 450px;
    margin-left: 20px;
    overflow-wrap: break-word;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.splash-opus-info-title {
    height: 40px;
    overflow-wrap: break-word;
    color: rgb(48, 47, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(150, 141, 141);
}

.splash-opus-info-text {
    width: 800px;
    height: 250px;
    margin-top: 10px;
    overflow-wrap: break-word;
    text-indent: 30px;
}
.splash-opus-read-more {
    width: 400px;
    height: 50px;
    background-color: rgb(83, 46, 90);
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 20px;
    user-select: none;
}

.splash-opus-read-more:hover {
    cursor: pointer;
}

.splash-index-cover {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(186, 33, 153), rgb(95, 18, 171), rgb(100, 13, 94))
}

.splash-index-spine {
    width: 40px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url('../../assets/croctrxture.jpeg');
    background-size: cover;
    background-position: 100px 10px;
}

.splash-index-text-container {
    width: 360px;
    height: 400px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000000;
}

.splash-index-title {
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    overflow: hidden;
    margin-top: 50px;
}

.splash-creator-info-container {
    height: 300px;
    width: 90vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-creator-title {
    height: 40px;
    color: rgb(45, 13, 28);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(152, 141, 141);
}

.splash-creator-info {
    width: 100vw;
    height: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.splash-dev-info {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-avisek-pic {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/splash/Avisek.jpg');
    background-size: cover;
    border-radius: 100px;
}

.splash-darian-pic {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/splash/Darian.jpg');
    background-size: cover;
    border-radius: 100px;
}

.splash-david-pic {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/splash/David.jpg');
    background-size: cover;
    border-radius: 100px;
}

.splash-ryan-pic {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/splash/Ryan.jpg');
    background-size: cover;
    border-radius: 100px;
}

.splash-dev-bio {
    width: 400px;
    height: 140px;
    margin-top: 10px;
    text-indent: 25px;
}

.splash-dev-links {
    width: 400px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

