.book-show-read-button {
    border: none;
    background-color: rgb(187, 104, 187);
    font-size: 20px;
    color: rgb(253, 239, 198);
    font-family: cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 300px;
    box-shadow: 0px 0px 10px black;
}

.book-show-read-button:hover {
    cursor: pointer;
    background-color: rgb(163, 93, 163);
    transition: all .2s;
}


.book-show-read-button:active {
    cursor: pointer;
    background-color: rgb(128, 72, 128);
    transition: all .2s;
}

.books-show-author {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    overflow: hidden;
    margin-top: 80px;
    user-select: none;
}

.books-show-author:hover {
    color: rgb(91, 91, 220);
    cursor: pointer;
    transition: all .2s;
}

.books-show-author:active {
    color: rgb(112, 112, 232);
    transition: all .1s;
}

.book-show-edit-button {
    position: absolute;
    border: none;
    background-color: red;
    font-size: 20px;
    color: rgb(253, 239, 198);
    font-family: cursive;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-top: 600px;
    box-shadow: 0px 0px 5px black;
    user-select: none;
}

.book-show-edit-button:hover {
    background-color: rgb(225, 3, 3);
    color: rgb(250, 244, 224);
    cursor: pointer;
}

.book-show-edit-button:active {
    background-color: rgb(180, 3, 3);
    color: rgb(254, 252, 245);
}